extends base.pug

block scripts
  script(src='/static/index.js')


block style 
   style
      include ../static/style.css
      include ../static/About.css
      include ../static/styleContact.css
    
block content
      div.container-box
        div.upper 
          div.intro
            h2 What is Super Class academy?
            p Super class academy is the largest platform. It provide Trainning on deffirent technical course. 
          div.intro
            h2 Our Mission 
            p Our mission to reach those student who have not education facility and survive with finacial issue. And enhance theire skill and Exprience.
          div.intro
            h2 Our Vision 
            p Super Class academy has main goal to educating our County and made india world research hub.
        div.box
          div.box1
            div.content
                p He is a CEO and Full-Stack developer at Super class academy. His vision to educate all child of India belong form poor famil and financial issue.
                br
                p 
                  q The best way developed our country get educate people first.
            div.img
              img(src="/static/img/taufique1.jpg",alt="image", class = "devimage")
              h5 Taufique Ali
          div.box2
            div.content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae beatae in fugit, qui reprehenderit consequatur? Vero, repellat! Vel, iure nesciunt.
            div.img
              img(src="/static/img/image.png",class="devimage")
              h5 Somesh Kumar
          div.box3
            div.content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt temporibus facilis facere. Adipisci, assumenda necessitatibus dolore inventore pariatur vel nulla!
            div.img
              img(src="/static/img/image.png",class="devimage")
              h5 Md. Ataullah Baber
              
          
        div.container-footer
          div#child-3
            h3 Address
            hr 
            p Jaipur Engineerning College 
            p ricco industrial area, kukas 
            p 302028
            p email: taufiqueali2911@gmail.com
            p contact number: 7079xxxx09
          div#child-3
            h3 Available Course 
            hr
            ul 
              li Operating System 
              li C++
              li Java 
              li Data Structure and Algorithm 
              li Computer Networking
              li NodeJS  
              li React 
              li DBMS
          div#child-3
            ul
              h3 Contact US 
              hr
              li Phone No.- +91-7079215509, 9187xxxx21
              li E-mail: taufiqueali2911@gmail.com
                    