extends base.pug

block scripts 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
  script(src="../static/js/service.js")


block style 
   style
      include ../static/style.css
      include ../static/service.css
    
block content
    div.containerbody
      h3.header DBMS (Database Management System)
      div.leftbar
        h3.header Lecture Series
        button#lec1.lecture1 Lecture 1. Introduction of DBMS 
        button.lecture1#lect2 Lecture 2. What is ACID 
        button#lec3.lecture1 Button1 
        button#lec4.lecture1 Button1 
        button#lec5.lecture1 Button1 
        button#lec6.lecture1 Button1 
        button#lec7.lecture1 Button1 
        button#lec8.lecture1 Button1 
        button#lec9.lecture1 Button1 
        button#lec10.lecture1 Button1 
        button#lec11.lecture1 Button1 
        button#lec12.lecture1 Button1 
        button#lec13.lecture1 Button1 
        button#lec14.lecture1 Button1    
      
      div.rightbar
       div.frame
       div.discription
        h4 Description of Lecture...

       