@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 12px;
    margin-right: 10px;
}
#logo img {
    width: 50px;
    height: 33px;
    filter: invert(1);

}
#navbar {
    position: sticky;
    top: 0px;
    background-color: rgb(100, 52, 33);
    padding: 5px 30px;
    font-family: 'Barlow', sans-serif;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    color: white;
    text-decoration: none;
    padding: 7px 23px;

}

#btn {
    margin: 0px 312px;
    border: 2px solid black;
    border-radius: 14px;
}

#navbar li a:hover {
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 7px 23px;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(238, 231, 231);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(93, 91, 91);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(101, 39, 15);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    font-weight: bold;
    color: rgb(246, 242, 242);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #737171;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#introSection {

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background: center / cover no-repeat url("/static/img/bg.jpg");
    height: 425px;
    /* background-color: brown; */
    padding-bottom: 45px;

}

#introSection div.small {

    font-size: 20px;
}


#missionSection {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
}


#missionSection h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 12px;

}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;
    margin: 21px 15px;
    height: 206px;
}

.card h3 {
    text-align: center;
    margin-top: 0px 12px;
    margin-top: 15px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 114px;
    padding: 13px 12px;
    margin: 16px 0px;
}


.card-img img {
    height: inherit;

}

.card-content {
    padding: 12px 2px;
}

.card-content p {
    font-size: 18px;
}

#sponsorSection {
    height: 300px;
    background-color: rgba(207, 134, 236, 0.733);
}

#sponsorSection {
    text-align: center;
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#sponsors {
    height: 100px;
    max-width: 1000px;
    margin: auto;

}

.spimage {
    height: 80%;
    margin: 27px 47px;
}

#footer {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 60px;
    background-color: black;

}
